{% block content %}
    <header id="header" class="fixed-top bg-app">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto fonte-base"><a href="{% url 'home' %}">Vota Escola</a></h1>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="{% url 'e_dash' %}">Minha Escola</a></li>
                    <li class="dropdown"><a href="#"><span>Eleições</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="{% url 'e_anoeleitoral' %}">Ano Eleitoral</a></li>
                            <li><a href="{% url 'e_resultado' %}">Resultados</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#"><span>Administração</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="{% url 'e_alunos' %}">Cadastro de Alunos</a></li>
                            <li><a href="{% url 'e_turmas' %}">Cadastro de Turmas</a></li>
                            <hr>

                            <li><a href="{% url 'e_info' %}">Meus Dados</a></li>
                        </ul>
                    </li>
                </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>

        </div>
    </header>

{% endblock %}
