{% block content %}
    <header id="header" class="fixed-top bg-app">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto fonte-base"><a href="{% url 'home' %}">Vota Escola</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{% url 'home' %}">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">Sobre</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contato</a></li>
          <li class="dropdown"><a href="#"><span>Acesso</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Cadastro</a></li>
              <li><a href="#">Login</a></li>
            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>

{% endblock %}
