{% extends 'base.html' %}
{% block content %}
    <main class="container d-flex align-items-center">
        <div class="row w-100 pt-3">

            <div class="col-md-4">
                <div class="bg-light m-2">
                    <div class="container col pt-2 pb-2">
                        <div class="row">
                            <h4 class="fonte-base mb-2">Bem vindo(a), fulano!</h4>
                        </div>

                        <hr>

                        <div class="row ">
                            <p>
                                Podemos reservar essa área para deixar alguma mensagem importante.
                                <br>
                                <br>
                                Como por exemplo:
                            </p>
                        </div>

                        <hr>

                        <div class="row rounded bg-white p-2">
                            <p>
                                Não perca a oportunidade de representar a sua turma neste ano, <a href="#">candidate-se</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="m-2">
                    <div class="col">
                        <div class="row mt-2">
                            <div class="col-sm mb-2">
                                <div class="row mb-2">
                                    <img src="static/images/exerca_cidadania.png">
                                </div>
                                <div class="d-grid gap-2">
                                    <button class="btn btn-outline-dark" type="button">Votar</button>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="row mb-2">
                                    <img src="static/images/mala_muito.png">
                                </div>
                                <div class="d-grid gap-2">
                                    <button class="btn btn-outline-dark" type="button">Candidatar-se</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bg-light m-2">
                    <div class="col">
                        <div class="row-cols-sm-3 text-center">
                            <img src="static/images/vote_consciente.png">
                        </div>
                        <div class="row p-3">
                            <p>
                                "O voto, ou sufrágio, como é também conhecido, é um dos principais instrumentos
                                utilizados para eleições de representantes políticos ou para tomar decisões
                                políticas, em espaços em que há consulta popular para isso, como nos casos de
                                referendos ou plebiscitos."
                                <br>
                                <br>
                                "Desde a Constituição de 1988 que o sufrágio universal foi instituído para a
                                escolha dos ocupantes desses cargos acima mencionados. Sufrágio universal
                                significa que todo o cidadão dentro das normas legais tem direito ao voto. Tal
                                configuração de participação política foi uma vitória no sentido de ampliação dos
                                critérios da democracia representativa no país, já que todos os cidadãos com
                                mais de 16 anos, homens ou mulheres, alfabetizados ou analfabetos, têm direito a
                                escolher seu representante através do voto. Porém, na história do voto do Brasil,
                                nem sempre foi assim."
                                <br>
                                <br>
                            </p>

                            <p>
                                Veja mais em: https://brasilescola.uol.com.br/politica/importancia-voto.htm
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}
