
{% extends 'base.html' %}
{% block content %}
    <section class="container">
        <div class="row mt-3">
            <div class="col-sm bg-light">
                <div class="row m-3">
                    <img src="static/images/exerca_cidadania.png">
                </div>
                <div class="row m-3">
                    <button type="button" class="container btn btn-outline-dark" onclick="location.href='{% url "cadastro_escola" %}'">Cadastro Escola</button>
                </div>
            </div>
            <div class="col-sm">
                <div class="row m-3">
                    <img src="static/images/vote_consciente.png">
                </div>
            </div>
            <div class="col-sm bg-light">
                <div class="row m-3">
                    <img src="static/images/mala_muito.png">
                </div>
                <div class="row m-3">
                    <button type="button" class=" container btn btn-outline-dark" onclick="location.href='{% url "cadastro_aluno" %}'">Cadastro Aluno</button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}