{% extends 'base.html' %}

{% block content %}
    <section class="container mt-5">

        <h4 class="mb-3 pt-5 fonte-base">{{ nome_formulario }}</h4>

        <hr class="dropdown-divider bg-dark">

        <form class="cadastro p-2 bg-light" action="{% url 'cadastrar_aluno' %}" method="POST">
            {% csrf_token %}
            {% include 'partials/_alertas.html' %}
            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="nome_escola" name="nome_escola">
                <label for="nome_escola">Nome da Escola</label>
            </div>
            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="rua" name="rua">
                <label for="rua">Rua</label>
            </div>
            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="numero">
                <label for="numero">Número</label>
            </div>
            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="complemento">
                <label for="complemento">Complemento</label>
            </div>
            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="bairro">
                <label for="bairro">Bairro</label>
            </div>
            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="cidade">
                <label for="cidade">Cidade</label>
            </div>
            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="estado">
                <label for="estado">Estado</label>
            </div>
            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="cnpj">
                <label for="cnpj">CNPJ</label>
            </div>
            <div class="form-floating mb-2">
                <input type="password" class="form-control" id="password">
                <label for="password">Password</label>
            </div>
            <div class="form-floating mb-2">
                <input type="password" class="form-control" id="repassword">
                <label for="repassword">Repeat Password</label>
            </div>


            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-success" disabled data-bs-toggle="button" >Upload CSV</button>
                <button class="btn btn-outline-danger me-md-2" type="button">Cancelar</button>
                <button class="btn btn-outline-success" type="submit">Cadastrar</button>
            </div>
        </form>

    </section>

{%  endblock %}